[submodule "third_party/maplibre-native"]
	path = third_party/maplibre-native
	url = https://github.com/maplibre/maplibre-native.git
	shallow = true
	ignore = dirty
[submodule "third_party/vcpkg"]
	path = third_party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	shallow = true
	ignore = dirty
